<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ymwebview">

    <application>
        <activity android:name=".YmWebViewActivity"></activity>
        <activity android:name=".YMBotPlugin" />
        <activity
            android:name=".BotWebView"
            android:launchMode="singleTask" />
    </application>

</manifest>